{{- $page := . -}}
{{- $lang := site.Language.Lang -}}
{{- if reflect.IsMap . -}}
    {{- $page = .context -}}
    {{- $lang = .lang -}}
{{- end -}}

{{- $title := $page.Title -}}
{{- if and (eq $lang "en") $page.Params.title_en -}}
    {{- $title = $page.Params.title_en -}}
{{- end -}}
<article>
    <a href="{{ $page.RelPermalink }}">
        <div class="article-details">
            <h2 class="article-title">
                {{- $title -}}
            </h2>
            <footer class="article-time">
                <time datetime='{{ $page.Date.Format "2006-01-02T15:04:05Z07:00" }}'>
                    {{- $page.Date.Format (or $page.Site.Params.dateFormat.published "Jan 02, 2006") -}}
                </time>
            </footer>
        </div>

        {{- $image := partialCached "helper/image" (dict "Context" $page "Type" "articleList") $page.RelPermalink "articleList" -}}
        {{ if $image.exists }}
            <div class="article-image">
                {{ if $image.resource }}
                    {{- $Permalink := $image.resource.RelPermalink -}}
                    {{- $Width := $image.resource.Width -}}
                    {{- $Height := $image.resource.Height -}}

                    {{- if (default true $page.Site.Params.imageProcessing.cover.enabled) -}}
                        {{- $thumbnail := $image.resource.Fill "120x120" -}}
                        {{- $Permalink = $thumbnail.RelPermalink -}}
                        {{- $Width = $thumbnail.Width -}}
                        {{- $Height = $thumbnail.Height -}}
                    {{- end -}}
                    
                    <img src="{{ $Permalink }}" 
                        width="{{ $Width }}"
                        height="{{ $Height }}" 
                        alt="{{ $title }}"
                        loading="lazy">
                {{ else }}
                    <img src="{{ $image.permalink }}" loading="lazy" alt="Featured image of post {{ $title }}" />
                {{ end }}
            </div>
        {{ end }}
    </a>
</article>