{{ define "body-class" }}template-archives{{ end }}
{{ define "main" }}
    {{- $lang := .Lang -}}
    {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
    {{ $notHidden := where .Site.RegularPages "Params.hidden" "!=" true }}
    {{ $filtered := ($pages | intersect $notHidden) }}

    {{ if and (eq (len $filtered) 0) (eq .Lang "en") }}
        {{ $defaultSite := site.Sites.Default }}
        {{ $pages = where $defaultSite.RegularPages "Type" "in" .Site.Params.mainSections }}
        {{ $notHidden = where $defaultSite.RegularPages "Params.hidden" "!=" true }}
        {{ $filtered = ($pages | intersect $notHidden) }}
    {{ end }}

    <div class="archives-wrapper">
        {{ range $filtered.GroupByDate "2006" }}
        {{ $id := lower (replace .Key " " "-") }}
        <div class="archives-year-group" id="{{ $id }}">
            <h2 class="archives-year-label">
                <a href="{{ $.RelPermalink }}#{{ $id }}">{{ .Key }}</a>
                <span class="archives-year-count">{{ len .Pages }}</span>
            </h2>
            <div class="archives-year-list">
                {{ range .Pages }}
                <div class="archives-item">
                    <time class="archives-item-date" datetime="{{ .Date.Format "2006-01-02" }}">
                        {{- .Date.Format "01-02" -}}
                    </time>
                    {{- $title := .Title -}}
                    {{- if and (eq $lang "en") .Params.title_en -}}
                        {{- $title = .Params.title_en -}}
                    {{- end -}}
                    <a class="archives-item-title" href="{{ .Permalink }}">{{ $title }}</a>
                </div>
                {{ end }}
            </div>
        </div>
        {{ end }}
    </div>

    {{ partialCached "footer/footer" . }}
{{ end }}

{{ define "right-sidebar" }}
    {{ partial "sidebar/right.html" (dict "Context" . "Scope" "homepage") }}
{{ end }}
