{{ define "main" }}
    {{- $subsections := .Sections -}}
    {{- $pages := .Pages | complement $subsections -}}

    {{- $lang := .Lang -}}

    {{- if and (eq (len $pages) 0) (eq .Lang "en") -}}
        {{- $defaultSite := site.Sites.Default -}}
        {{- $pages = where $defaultSite.RegularPages "Section" "post" -}}
    {{- end -}}

    {{- if eq (len $pages) 0 -}}
        {{- $pages = $subsections -}}
        {{- $subsections = slice -}}
    {{- end -}}

    {{- with $subsections -}}
        <aside>
            <div class="subsection-list">
                <div class="article-list--tile">
                    {{ range . }}
                        {{ partial "article-list/tile" (dict "context" . "size" "250x150" "Type" "section" "lang" $lang) }}
                    {{ end }}
                </div>
            </div>
        </aside>
    {{- end -}}

    {{ $paginator := .Paginate $pages }}
    <section class="article-list--compact">
        {{ range $paginator.Pages }}
            {{ partial "article-list/compact" (dict "context" . "lang" $lang) }}
        {{ end }}
    </section>

    {{- partial "pagination.html" . -}}
    {{ partialCached "footer/footer" . }}
{{ end }}

{{ define "right-sidebar" }}
    {{ partial "sidebar/right.html" (dict "Context" . "Scope" "homepage") }}
{{ end }}