{{ define "main" }}
    {{- $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections -}}
    {{- $notHidden := where .Site.RegularPages "Params.hidden" "!=" true -}}
    {{- $filtered := ($pages | intersect $notHidden) -}}

    {{- if and (eq (len $filtered) 0) (eq .Lang "en") -}}
        {{- $defaultSite := site.Sites.Default -}}
        {{- $pagesDefault := where $defaultSite.RegularPages "Type" "in" .Site.Params.mainSections -}}
        {{- $notHiddenDefault := where $defaultSite.RegularPages "Params.hidden" "!=" true -}}
        {{- $filtered = ($pagesDefault | intersect $notHiddenDefault) -}}
    {{- end -}}

    {{- $pag := .Paginate ($filtered) -}}

    <section class="article-list">
        {{ range $pag.Pages }}
            {{ partial "article-list/default" . }}
        {{ end }}
    </section>

    {{- partial "pagination.html" . -}}
    {{- partial "footer/footer" . -}}
{{ end }}

{{ define "right-sidebar" }}
    {{ partial "sidebar/right.html" (dict "Context" . "Scope" "homepage") }}
{{ end }}
